body {
    background-color: rgb(104, 104, 104);
    color: white;
    background-image: url(kepek/bg.jpg);
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    width: 100%;
    overflow-x: hidden;
    margin: auto;
    text-align: center;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    width: 100%;
}

header, nav {
    background-color: rgb(59, 59, 59);
    text-align: center;
}

nav {
    padding-bottom: 30px;
}

h1 {
    font-size: 45px;
}

a {
    font-size: 25px;
    color: white;
    padding: 10px;
    text-decoration: none;
    
}

a:hover {
    font-style: italic;
    font-weight: bold;
    color: rgb(17, 243, 205);
    background-color: rgb(75, 75, 75);
    transform: scale(1.2);
    border-radius: 15px;
    transition: background-color 0.35s ease,  /*ChatGPT*/
                transform 0.2s ease; 
            
}

h2 {
    font-size: 35px;
    text-decoration: underline;
    margin: 100px 0 200px 0;
    text-align: center;
}

p {
    font-size: 20px;
}

#bevezeto {
    margin: auto;
    max-width: 1300px;
    text-align: justify;
}

#pelda {
    display: block;
    background-color: rgb(59, 59, 59);
    padding-bottom: 220px;
}

#pelda p {
    font-size: 30px;
}

img {
    max-width: 40%;
    width: 100%;
    border-radius: 20px;
}

#div1 {
    display: inline-block;
    background-color: aquamarine;
    width: 500px;
    padding: 150px;
    margin: 0 auto;
    margin-bottom: 20px;
    border: black 3px solid;
}

#div2 {
    display: inline-block;
    background-color: lightcoral;
    width: 500px;
    padding: 150px;
    margin: 0 auto;
    border: black 3px solid;
}

footer {
    color: white;
    padding: 100px;
}
footer p {
    font-size: 30px;
}

@media screen and (max-width:1650px) {
    #div1 {
        width: 400px;
        padding: 100px;
        margin-bottom: 20px;
    }

    #div2 {
        width: 400px;
        padding: 100px;

    }
}


@media screen and (max-width:1300px) {
    body {
    background-size: 170%;
    background-attachment: fixed;
    background-repeat: repeat-y;
    }
    
    h1 {
        font-size: 40px;
    }

    a {
        font-size: 20px;
        color: white;
        padding: 10px;
        text-decoration: none;
        
    }
    img {
        max-width: 600px;
    }
    #div1 {
        width: 100px;
        padding: 50px;
    }

    #div2 {
        width: 100px;
        padding: 50px;

    }
}

@media screen and (max-width:800px) {
    body {
    background-size: 250%;
    }
}

@media screen and (max-width:600px) {
    body {
    background-size: 250%;
    background-attachment: fixed;
    background-repeat: repeat-y;
    }

    header, nav {
        max-width: 600px;
    }
    article {
        max-width: 600px;
    }

    li, p {
        margin-left: 15px;
        margin-right: 15px;
    }

    #pelda {
    display: block;
    background-color: rgb(59, 59, 59);
    }

    #pelda p {
        font-size: 40px;
    }

}

